* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
main {
  min-height: 100vh;
  height: 100vh;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
main {
  background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, #d27303 100%);
  background-repeat: no-repeat;
  padding: 30px 0;
  position: relative;
  overflow-x: hidden;
}

progress::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
progress {
  background-color: rgb(255, 255, 255);
  text-align: left;
  width: 90vw;
  margin: 10px 0;
}

/* value: */
progress::-webkit-progress-value {
  background-color: #d27303 !important;
}
progress::-moz-progress-bar {
  background-color: #d27303 !important;
}
progress {
  color: #d27303;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
}
#files,
#title,
#price,
#description {
  margin-top: 10px;
  padding: 5px;
  outline: none;
  border: none;
}

#title,
#price,
#description {
  color: #ad3100;
}
#title:focus,
#price:focus,
#description:focus {
  outline: 2px solid #ad3100;
}
#description {
  resize: none;
}
#title,
#price {
  height: 25px;
}
#title {
  margin-top: 20px;
}
input[type="file"]::-webkit-input-placeholder {
  color: white;
  padding: 5px;
}
@keyframes warning {
  0% {
    font-size: 1rem;
  }
  40% {
    font-size: 1.2rem;
  }
  100% {
    font-size: 1rem;
  }
}
.alertzz {
  font-size: 1rem;
  animation: warning 0.3s ease-in-out;
}

.response {
  color: #ad3100;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images {
  max-width: 50vw;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 10px;
  justify-content: center;
}

input[type="button" i] input[type="submit" i] input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
.button {
  background-color: #ad3100;
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  min-width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 15px;
  position: relative;
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  border: none;
}
.characters_left {
  position: absolute;
  right: 0;
  bottom: 51px;
  color: green;
}
.characters {
  margin: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  -webkit-transition: color 0.3s, font-size 0.3s;
  -moz-transition: color 0.3s, font-size 0.3s;
  -o-transition: color 0.3s, font-size 0.3s;
  transition: color 0.3s, font-size 0.3s;
}
.alert_char {
  color: red;
  font-size: 1rem;
}
.button {
  width: 100%;
  margin: 15px auto 0;
}

.card {
  display: flex;
  justify-content: center;
  margin: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  grid-row-end: span 11;
}
.border {
  border: 5px solid rgb(255, 0, 0);
  border-style: inset;
  border-radius: 5%;
}
.thumbzz {
  color: #ad3100;
  font-size: 0.8rem;
  width: 100%;
}
.thumbzz_hidden {
  display: none;
}
footer {
  height: 25px;
}
.gif_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -200px;
  background-color: rgba(40, 40, 40, 0.8);
  transition: 0.2s ease;
}
.background_hidden {
  display: none;
}
.gif_menu {
  position: absolute;
  width: 100vw;
  height: 200px;
  padding: 20px 0;
  background-color: #d27303;
  top: 98px;
  right: -100vw;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-out;
}
.gif_menu_show {
  right: 0;
}
.gif_icon_show,
.gif_icon_hide {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ad3100;
  left: -48px;
  top: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gif_icon_hide {
  left: 0;
  background-color: #d27303;
  border-radius: 0;
}
.gif_lebel {
  text-align: left;
  margin-left: 60px;
}
#gif {
  margin-top: 25px;
}
.navigation {
  width: 90vw;
  display: flex;
  flex-direction: column;
}
.nav_button {
  background-color: #ad3100;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.nav_button:hover {
  background-color: #c5572b;
}
.svg_edit,
.stats {
  padding-right: 5px;
}

.light_item,
.dark_item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.light_item > p,
.dark_item > p {
  font-size: 0.9rem;
}
.dark_item {
  background-color: #6f3e05;
}
.delete_item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user_count {
  text-align: center;
  color: black;
  font-size: 0.8rem;
  line-height: 2rem;
}
.users_link {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 70vw;
  }
  progress {
    width: 70vw;
  }
  .navigation {
    width: 70vw;
    flex-direction: row;
    justify-content: center;
  }

  .nav_button {
    width: 280px;
    margin-left: 5px;
  }
  .images {
    max-width: 50vw;
  }
  .gif_menu_show {
    right: -50vw;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    max-width: 50vw;
  }
  progress {
    width: 50vw;
  }
  .navigation {
    width: 50vw;
  }

  .images {
    max-width: 50vw;
  }
  .gif_menu_show {
    right: -50vw;
  }
}
