* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
main {
  min-height: 100vh;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
main {
  background-size: 100% auto;
  padding: 30px 0;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}
h2 {
  font-size: 1.5rem;
  display: inline;
}
h3 {
  text-align: center;
  padding-bottom: 0.5rem;
}

.chart_container,
.summary {
  margin: 0 auto;
  width: 90vw;
  margin-bottom: 1rem;
  text-align: right;
  padding: 20px;
  background-color: #f1c99c;
  border-radius: 10px;
}

.range {
  padding: 5px;
  border: none;
  background-color: #f1c99c;
  color: #d27303;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}
.range:focus {
  outline: none;
}

.placeholder {
  margin: 0 auto;
  min-height: 150px;
  background-color: #f1c99c;
  border-radius: 10px;
}
.summary {
  color: #7b4505;
  -webkit-box-shadow: 4px 4px 14px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 14px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 14px -8px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
}
.summary_text {
  text-align: left;
  font-size: 0.8rem;
}
.summary_icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 95vw;
  margin: 1rem auto;
  z-index: 0;
}
.google {
  width: 90vw;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  min-height: 400px;
  background-color: #f1c99c;
  color: #7b4505;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 14px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 14px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 14px -8px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.google_headline {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.4rem;
  width: 90%;
  background-color: #f1e6d9;
  border-radius: 5px;
}
.google h2 {
  font-size: 1rem;
  display: inline-block;
}
.google_text {
  display: inline-flex;
  font-size: 1.2rem;
  padding-left: 0.3rem;
}
.letter:nth-of-type(1) {
  color: #4285f4;
}
.letter:nth-of-type(2) {
  color: #ea4335;
}
.letter:nth-of-type(3) {
  color: #fbbc05;
}
.letter:nth-of-type(4) {
  color: #4285f4;
}
.letter:nth-of-type(5) {
  color: #34a853;
}
.letter:nth-of-type(6) {
  color: #ea4335;
}
.google_container {
  width: 90%;
  margin: 0.5rem auto;
}
.google_data {
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-style: hidden;
}
.google_data th {
  background-color: #f1e6d9;
  padding: 0.4rem;
}
.google_data td {
  padding: 0.3rem;
  text-align: left;
}
.google_data td,
.google_data th {
  border: 1px solid #7b4505;
}
.google_placeholder {
  padding: 1.6rem;
}
.info {
  padding-top: 0.4rem;
  color: #7b4505;
  font-size: 0.8rem;
}
/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d27303 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.visitors {
  position: relative;
  z-index: -1;
}
.user_badge {
  background-color: #e6cba8;
  color: black;
  margin: 1rem auto;
  width: 90vw;
  display: flex;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 6px 6px 20px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 20px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 20px -8px rgba(0, 0, 0, 0.75);
  margin-bottom: 0px; /* initial*/
  transition: margin-bottom 0.3s;
}
.device-data {
  position: absolute;
  background-color: #e6cba8;
  width: 95%;
  left: 50%;
  bottom: 0px; /* initial*/
  transform: translateX(-50%);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-wrap: anywhere;
  z-index: -1;
  line-height: 1.2rem;
  transition: margin-bottom 0.3s;
}
.btn_expand {
  position: absolute;
  right: 5px;
  bottom: 4px;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}
.back_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  bottom: 50px;
  right: -50px;
  position: fixed;
  transition: right 0.3s;
}

.main_bckg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, #d27303 100%);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  z-index: -1;
}

@media (min-width: 800px) {
  .user_badge,
  .chart_container,
  .summary,
  .google {
    width: 70vw;
  }
  .summary_text {
    font-size: 0.9rem;
  }
  .placeholder {
    min-height: 250px;
  }
  .range {
    font-size: 1.2rem;
  }
  .google h2 {
    font-size: 1.2rem;
  }
  .google_text {
    font-size: 1.5rem;
  }
  .google_data {
    font-size: 0.9rem;
  }
}
@media (min-width: 1150px) {
  .user_badge,
  .chart_container,
  .summary,
  .google {
    width: 50vw;
  }
  .summary_text {
    font-size: 1rem;
  }
  .placeholder {
    min-height: 250px;
  }
}
@media (min-width: 1600px) {
  .summary_text {
    line-height: 2rem;
  }
}
.flag_section {
  padding: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
.data_section {
  position: relative;
  padding: 0.8rem;
  text-align: left;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
.user_count {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.navigation {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 26px;
}
.btn_l,
.btn_r {
  cursor: pointer;
  padding: 5px;
  background-color: #e6cba8;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
